#tabs{
    background-color: #999;
    width: 600px;
    height: 150px;
    padding: 20px;
}

#tabs-nav{
    width: 600px;
    height: 75px;
    padding: 20px;
    background-color: #999;
    text-decoration: none;
    list-style-type: none;
}

#tabs-nav li{
    display: inline;

}