.columns{
    background-color: #f4eade;
    font-family: 'Walkway Semibold'

}

.bubble{
    background-color: whitesmoke;
    border-radius: 25px;
    width: 30%;
    padding:25px;
    margin: 10px;
}

.header, .nav{
    color: #617799;
    font-family: 'Keep Calm Medium';
    margin: 15px;
}

.nav{
    font-size: 1.5em;
    margin: 8px;
    border-bottom: 1px solid #617799;
}

.submit{
    background-color: #617799;
    color: whitesmoke;
    padding: 4px;
}

.submit:hover{
    background-color: black;
    color: whitesmoke;

}