<!-- New User Registration -->

<html>
<head>
    <title>Welcome, Watchers</title>
    <link href="../../static/styles.css" rel="stylesheet" >
    <link href='http://fonts.googleapis.com/css?family=Lato|Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.1.2/foundation.min.css">
    <script src="https://cdn.jsdelivr.net/foundation/6.1.2/foundation.min.js"></script>
    <link href="../../static/styles.css" rel="stylesheet">

</head>
<body style="background-color: black; font-family: 'Walkway Semibold';">
        <nav>
             <ul class="topnav">
             <a class="header" id="sw" href="/login">Watchers</a>
        </ul>

        </nav>

        <div id="welcome" class="large-12 columns">
        <h2 class="header">So you want to join the Watchers?</h2>
        <p class="oathTxt">Being a Watcher is a serious mantle to bear. But if you think you're ready, sign your oath below.</p>
        </div>
    <form action="/addUser" class="large-12 columns" method="post">
        <div class="large-5 columns oath">
            <p class="oathTxt">I,</p>
            <input class="registerInput" placeholder="username" type="text" name="newUser" style="display:inline;">
            <p class="oathTxt">Swear to never willfully give away spoilers to fellow Watchers and to never play on my phone while a new episode is airing.</p>
        </div>
        <div class="large-5 columns oath">
            <p class="oathTxt"> Now, choose the password that will allow you access inside. </p>
            <input class="registerInput" placeholder="password" type="text" name="newPassword" style="display:inline;">
            <p class="oathTxt">With these solumn words spoken, begin your watch, no matter what you choose to watch.</p>
        </div>
        <div style="text-align:center;" class="large-12 columns">
            <input value="Take your oath" id="takeOath" class="submit" type="submit" style="display:inline; margin-top: 25px;
">
        </div>
    </form>

