<html>
<head>
    <title>Spoiler Watch Welcome</title>
    <link href="../../static/styles.css" rel="stylesheet" >
    <link href='http://fonts.googleapis.com/css?family=Lato|Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.1.2/foundation.min.css">
    <script src="https://cdn.jsdelivr.net/foundation/6.1.2/foundation.min.js"></script>
</head>
<body>
<nav>
             <ul class="topnav">
           <li><a class="header" id="sw" href="/login">Spoiler Watch</a></li>
        </ul>

        </nav>
    <div class="large-12 columns">
        <div class="medium-3 columns wrapper">
            <h2 class="header">Login</h2>
            <form action="/checklogin" method="post">
                Username: <input type="text" name="username" style="margin:5px">
                <br>
                Password: <input type="password" name="password" style="margin:5px">
                <br>
                <input class="submit" type="submit" style="margin:5px">
            </form>
             <h2 class="header">Not A User?</h2>
            <a style="font-size:25px" href="/newUser">Sign Up Now!</a>
            </div>
            <div class="medium-8 columns">
    </div>
            <img src="../static/images/swInfographic.png" alt="intro infographic"/>
    </div>

