<!DOCTYPE html>
<html>
	<head>
        <script type="text/javascript" src="scripts/radial.js"></script>
		<link href="../../static/styles.css" rel="stylesheet" >
        <link href='http://fonts.googleapis.com/css?family=Lato|Source+Sans+Pro' rel='stylesheet' type='text/css'>
        <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.1.2/foundation.min.css">
        <script src="https://cdn.jsdelivr.net/foundation/6.1.2/foundation.min.js"></script>
    </head>

	<body style="background-color: #f4eade;" class="columns">
        <a class="nav" href="/home">Home</a>
        <a class="nav" href="/friendForm">Add Friends</a>
        <a class="nav" href="/friends">Friends</a>
        <a class="nav" href="/shows">My Shows</a>
        <a class="nav" href="/showSearch">Add Shows</a>
        <a class="nav" id="logout" href="/logout">Logout</a>
    </body>
</html>