{%include 'nav.html'%}
<h2>Last Episodes Watched:</h2>
{%for show in showdata%}
<form action="/deleteShow" method="post">
    <br>
    <p style="margin-top:10px;font-weight:bold;">Show Title: {{show[0]}}</p>
    <p style="margin-top:10px;font-weight:bold;">Episode Title: {{show[1]}}</p>
    <p style="margin-top:10px;font-weight:bold;">Season Number: {{show[2]}}</p>
    <p style="margin-top:10px;font-weight:bold;">Episode Number: {{show[3]}}</p>
    <input name="random" style="display:none;" value="{{show[0]}}">
    <input class="button" type="submit" value="Delete">
</form>

<h2>Update Shows</h2>
<form action="/updateShow" method="post">
    Show: <input name="show">
    Title: <input name="title">
    Season: <input name="season" type="tel">
    Episode: <input name="episode" type="tel">
    <br>
    <input class="button" type="submit" style="margin:15px" value="Add Show">
</form>
{%endfor%}

