{%include 'nav.html'%}

    <script type="text/javascript" src="../static/js/jssor.slider.mini.js"></script>

<script>
          $(function() {
            var availableTags = [
              "Game of Thrones",
              "Dexter",
              "Veronica Mars",
              "Ballers",
              "The Office",
              "Silicon Valley",
              "Scandal",
              "House of Lies",
              "Entourage",
              "How I Met Your Mother",
              "The Big Bang Theory",
              "The Walking Dead",
              "The Middle",
              "Modern Family",
              "NCIS",
              "Empire",
              "Scorpion",
              "Blue Bloods",
              "The Blacklist",
              "How to Get Away With Murder",
              "Madam Secretary",
              "Criminal Minds",
              "Person of Interest",
              "Downton Abbey",
              "The Good Wife",
              "Two and a Half Men",
              "The Mentalist",
              "Mom",
              "Fraggle Rock",
              "The Odd Couple",
              "Elementary",
              "CSI",
              "Chicago Fire",
              "Stalker",
              "Mike & Molly",
              "Gotham",
              "2 Broke Girls",
              "Once Upon A Time",
              "The Goldbergs",
              "The West Wing",
              "Sons of Anarchy",
              "Oz",
              "Better Call Saul",
              "Breaking Bad",
              "Family Guy",
              "American Dad!",
              "Archer",
              "Last Man on Earth",
              "The Simpsons",
              "Sleepy Hollow",
              "Marvel's Agent Carter",
              "Brooklyn Nine-Nine",
              "I Love Lucy",
              "Gunsmoke",
              "Cheers",
              "Seinfeld",
              "ER",
              "Friends",
              "That '70s Show",
              "Last Week Tonight",
              "Bob's Burgers",
              "House of Cards",
              "Orange is the new Black",
              "Sherlock",
              "The X-Files",
              "Supernatural",
              "Star Trek",
              "Star Trek: The Next Generation",
              "Star Trek: Voyager",
              "Shameless",
              "Heroes",
              "The Flash",
              "Vikings",
              "Fear the Walking Dead",
              "Grey's Anatomy",
              "The 100",
              "Peaky Blinders",
              "Penny Dreadful",
              "Agents of S.H.I.E.L.D.",
              "Outlander",
              "The Vampire Diaries",
              "Legends of Tomorrow",
              "Doctor Who",
              "Daredevil",
              "New Girl",
              "Quantico",
              "Bates Motel",
              "Suits",
              "Lucifer",
              "Bones",
              "iZombie",
              "Grimm",
              "Psych",
              "The IT Crowd",
              "Master of None",
              "Quantum Leap",
              "Blue Mountain State",
              "Mad men",
              "Sirens",
              "Torchwood",
              "Battlestar Galactica",
              "Prison Break",
              "Raising Hope",
              "Malcom in the Middle",
              "Buffy the Vampire Slayer",
              "Full House",
              "Fuller House",
              "Everybody Loves Raymond",
              "Dollhouse",
              "House",
              "Nurse Jackie",
              "Farscape",
              "Luther",
              "The Bernie Mac Show",
              "Friday Night Lights",
              "Burn Notice",
              "Hell on Wheels",
              "American Horror Story",
              "Alias",
              "The Finder",
              "Alphas",
              "Hawaii Five-0",
              "Longmire",
              "The Glades",
              "The Tudors",
              "Bates Motel",
              "Twin Peaks",
              "CSI: NY",
              "Supergirl",
              "Castle"
            ];
            $( "#tags" ).autocomplete({
              source: availableTags
            });
          });
        </script>

        <script>

             window.onload = function() {
               document.getElementById('time').value = getTime();
             }
        </script>

<form style="margin-top: -25px;" class="large-12 columns addShow ui-widget" action="/parseJSON" method="post">
    <input placeholder="Show Title" class="addInput" id="tags" name="title">
    <input placeholder="Season" class="addInput" name="season">
    <input placeholder="Episode #" class="addInput" name="episode">
    <input style="display:none;" id="time" name="time" type="text">
    <input id="searchSubmit" class="submit" type="submit" value="Add Show">
</form>

  <script>
        jQuery(document).ready(function ($) {

            var jssor_1_SlideoTransitions = [
              [{b:5500,d:3000,o:-1,r:240,e:{r:2}}],
              [{b:-1,d:1,o:-1,c:{x:51.0,t:-51.0}},{b:0,d:1000,o:1,c:{x:-51.0,t:51.0},e:{o:7,c:{x:7,t:7}}}],
              [{b:-1,d:1,o:-1,sX:9,sY:9},{b:1000,d:1000,o:1,sX:-9,sY:-9,e:{sX:2,sY:2}}],
              [{b:-1,d:1,o:-1,r:-180,sX:9,sY:9},{b:2000,d:1000,o:1,r:180,sX:-9,sY:-9,e:{r:2,sX:2,sY:2}}],
              [{b:-1,d:1,o:-1},{b:3000,d:2000,y:180,o:1,e:{y:16}}],
              [{b:-1,d:1,o:-1,r:-150},{b:7500,d:1600,o:1,r:150,e:{r:3}}],
              [{b:10000,d:2000,x:-379,e:{x:7}}],
              [{b:10000,d:2000,x:-379,e:{x:7}}],
              [{b:-1,d:1,o:-1,r:288,sX:9,sY:9},{b:9100,d:900,x:-1400,y:-660,o:1,r:-288,sX:-9,sY:-9,e:{r:6}},{b:10000,d:1600,x:-200,o:-1,e:{x:16}}]
            ];

            var jssor_1_options = {
              $AutoPlay: true,
              $SlideDuration: 800,
              $SlideEasing: $Jease$.$OutQuint,
              $CaptionSliderOptions: {
                $Class: $JssorCaptionSlideo$,
                $Transitions: jssor_1_SlideoTransitions
              },
              $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$
              },
              $BulletNavigatorOptions: {
                $Class: $JssorBulletNavigator$
              }
            };

            var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

            //responsive code begin
            //you can remove responsive code if you don't want the slider scales while window resizing
            function ScaleSlider() {
                var refSize = jssor_1_slider.$Elmt.parentNode.clientWidth;
                if (refSize) {
                    refSize = Math.min(refSize, 1920);
                    jssor_1_slider.$ScaleWidth(refSize);
                }
                else {
                    window.setTimeout(ScaleSlider, 30);
                }
            }
            ScaleSlider();
            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            //responsive code end
        });
    </script>

    <style>

        /* jssor slider bullet navigator skin 05 css */
        /*
        .jssorb05 div           (normal)
        .jssorb05 div:hover     (normal mouseover)
        .jssorb05 .av           (active)
        .jssorb05 .av:hover     (active mouseover)
        .jssorb05 .dn           (mousedown)
        */
        .jssorb05 {
            position: absolute;
        }
        .jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
            position: absolute;
            /* size of bullet elment */
            width: 16px;
            height: 16px;
            background: url('img/b05.png') no-repeat;
            overflow: hidden;
            cursor: pointer;
        }
        .jssorb05 div { background-position: -7px -7px; }
        .jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
        .jssorb05 .av { background-position: -67px -7px; }
        .jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

        /* jssor slider arrow navigator skin 22 css */
        /*
        .jssora22l                  (normal)
        .jssora22r                  (normal)
        .jssora22l:hover            (normal mouseover)
        .jssora22r:hover            (normal mouseover)
        .jssora22l.jssora22ldn      (mousedown)
        .jssora22r.jssora22rdn      (mousedown)
        */
        .jssora22l, .jssora22r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 40px;
            height: 58px;
            cursor: pointer;
            background: url('img/a22.png') center center no-repeat;
            overflow: hidden;
        }
        .jssora22l { background-position: -10px -31px; }
        .jssora22r { background-position: -70px -31px; }
        .jssora22l:hover { background-position: -130px -31px; }
        .jssora22r:hover { background-position: -190px -31px; }
        .jssora22l.jssora22ldn { background-position: -250px -31px; }
        .jssora22r.jssora22rdn { background-position: -310px -31px; }
    </style>

      <div id="jssor_1" style="position: relative; margin: 0 auto; margin-top: 10px; margin-bottom: 10px; top: 0px; left: 0px; width: 1300px; height: 500px; overflow: hidden; visibility: hidden;">
        <!-- Loading Screen -->
        <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
            <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
            <div style="position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
        </div>
        <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 1300px; height: 500px; overflow: hidden;">
            <div data-p="225.00" style="display: none;">
                <img data-u="image" src="../static/images/preacher2.jpg" />
                <div style="font-family: 'Gill Sans'; background: #4a4a4a; position: absolute; top: 20px; width: 500px; height: 40px; font-size: 30px; color: #ffffff; line-height: 38px;">A Vertigo Comics original comes to TV!</div>
            </div>
            <div data-p="225.00" style="display: none;">
                <img data-u="image" src="../static/images/got2.jpg" />
                <div style="font-family: 'Gill Sans'; background: #4a4a4a; position: absolute; top: 430px; width: 440px; height: 40px; font-size: 30px; color: #ffffff; line-height: 38px;">Game of Thrones Season 6 is here!</div>
            </div>
            <div data-p="225.00" style="display: none;">
                <img data-u="image" src="../static/images/bloodline.png" />
                <div style="font-family: 'Gill Sans'; background: #4a4a4a; position: absolute; top: 430px; width: 340px; height: 40px; font-size: 30px; color: #ffffff; line-height: 38px;">Season 2 begins May 27th!</div>

            </div>
            <a data-u="ad" href="http://www.jssor.com" style="display:none">jQuery Slider</a>


    <!-- #endregion Jssor Slider End -->



{%include 'footer.html'%}
