{%include 'nav.html'%}
<body>
<div>

{%for show in showdata|sort %}


    <script>

            var date = new Date();

            var t = date.toString();

            var res = t.split(" ",4);

            var dateTime = res.toString();

            var th = dateTime.replace(/,/g , " ");


            console.log(th);
    </script>

<form class="medium-6 columns feed" action="/friendData" method="post">
    <br>
    <p class="showContent " style="margin-right:500px">{{show[5]}}</p>
    <input style="background-color:none; color:#2199e8;" id="friendDataHome"  type="submit" value="{{show[0]}}">
    <h5 class="showContent" style="margin-top:10px;font-weight:bold;">{{show[4]}}</h5>
    <h5 class="showContent" style="margin-top:10px;font-weight:bold;">"{{show[1]}}"</h5>
    <p class="showContent" style="margin-top:10px;font-weight:bold;">Season: {{show[2]}}</p>
    <p class="showContent" style="margin-top:10px;font-weight:bold;">Episode: {{show[3]}}</p>
    <input name="time" style="display:none" value="{{show[5]}}">
    <input name="friend" style="display:none;" value="{{show[0]}}">


</form>
</div>
{%endfor%}
